@import "variables.css";
@import "fonts.css";
@import "top-bar.css";
@import "defaults.css";
@import "navbarHeader.css";
@import "course-box.css";
@import "footer.css";
@import "./pagination.css";
@import "./helper-class.css";

/*          section landing               */

.landing{
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.landing__title{
    font-size: 26px;
    font-weight: bolder;
    margin-bottom: 2rem;
    color: var(--white-color);
}
.landing__subtitle{
    font-size: 16px;
    margin-bottom: 4rem;
    color: var(--white-color);
}
.landing__search{
    position: relative;
}
.landing__search-input{
    width: 50rem;
    height: 5rem;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    background-color: var(--white-color);
}
.landing__search-btn{
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    border: none;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
}
.landing__search-icon{
    width: 3rem;
    height: 3rem;
}
.landings{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../image/background_landing.jfif'),center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    padding: 8rem 0;
    margin-bottom: 1rem;
}
.landing__status{
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing__status__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem;
}
.landing__status-icon{
    padding: 0.5rem;
    font-size: 6rem;
    color: var(--white-color);
}
.landing__status-counter{
    padding: 0.5rem;
    color: var(--white-color);
    font-size: 2rem;
}
.landing__status-text{
    padding: 0.5rem;
    color: var(--white-color);
    font-size: 2rem;
}
/* courses */
.courses{
    padding: 1rem 3rem;
    margin-top: 2rem;
}
.course__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.course__header-left{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 1rem;
    padding: 1rem;
}
.course__header-link{
    margin-left: 0.5rem;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    color: var(--white-color);
}
.course__header-link:hover{
    color: #1e83f0;
}
.course__header-icon{
    color: var(--white-color);
}



/* about-us */
.about-us{
    margin: 2rem 0;
}
.about-us__caption{
    font-size: 1.5remcc;
}


/* about__us-box */
.about__us-box{
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    margin: 2rem 0;
    border-radius: 1rem;
    padding: 2rem;
}

.about__us-icon{
    font-size: 5rem;
    padding: 1.5rem;
}
.about__us-left{
    display: flex;
    flex-direction: column;
}
.about__us-title{
    font-size: 1.8rem;
    font-weight: bold;
}
.about__us-caption{
    font-size: 1.8rem;
}
/*------------------------- swiper-----------------*/

.swiper {
    margin: 2rem 0;
    width: 90%;
    height: 500px;
  }
.swiper-slide .course-box{
    margin:0 1rem;
    transform: none;
}

/*------------------------ article---------------- */

.articles{
    padding: 1rem 3rem;
    margin-top: 2rem;
}
.article__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.article__header-left{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 1rem;
    padding: 1rem;
}
.article__header-link{
    margin-left: 0.5rem;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    color: var(--white-color);
}
.article__header-link:hover{
    color: #1e83f0;
}
.article__header-icon{
    color: var(--white-color);
}
/* article content */
.article-content{
    margin: 1rem 0;
}
.article-content__card{
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.2);
    border-radius: 1rem;
    padding: 1.5rem;
    margin: 0.5rem;
    transition: transform 0.3s ease-in-out;
}
.article-content__card:hover{
    transform: translateY(-1rem);
}
.article-content__header{
    overflow: hidden;
}
.article-content-img{
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}
.article-content-heading{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.article-content-btn{
    border: none;
    padding: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 0.5rem;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background-color: var(--white-color);
    transition: color 0.3s ease;
}
.article-content-btn:hover{
    color: var(--white-color);
    background-color: var(--primary-color);
}
